/* layout */
html, body {
	width:100%;
	height:100%;
}

@media (min-width: 1000px) {
	html,body {
		overflow:hidden
	}
}

#page-content {
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	max-width:100%;
	max-height:100%;
}

.container {
    max-width:1440px;
}

.objectListContainer {
	min-height:10em;
}

/* basic styles */
a {
	color:#003e8c; /* dark brandeis blue */
}

a:hover {
	cursor:hand;
	cursor:pointer;
}

button:hover, button:active, .selectedObj {
	background-color:#003e8c;
	border-color:#003e8c;
	color:#fff;
}

/*sidebar */

.events button {
	display:block;
	width:100%;
	box-sizing: border-box;
	margin:0;
}

/* xml */

.xml {
	overflow-y:scroll;
	overflow-x:hidden;
	min-height:1em;
	height:100%;
	margin:0;
	padding:.25em;
	background:#f1f1f1;
	display:block;
}

#prettyPrintList, #prettyPrintList li ul, #prettyPrintList li ul il ul {
	list-style-type: none;
	margin-top:0;
	margin-bottom:.5em;
}

#prettyPrintList li, #prettyPrintList li ul li {
	margin:0;
}

#prettyPrintList a {
	padding:.25em 0;
}

#prettyPrintList a.expand {
	display:block;
}

#prettyPrintList a.expand:hover {
	background-color:#003e8c;
	color:#f1f1f1;
}
